# Ignore build folders
/src-tauri/target
node_modules/

# Ignore temporary or cache files
**/*.rs.bk
**/*.swp
*.log
*.tmp

# Ignore configuration files if not needed
.vscode/
.idea/

# Ignore other unnecessary files
.git/
