Package: file-explorer
Version: 0.2.3
Architecture: amd64
Installed-Size: 15702
Maintainer: Conaticus, ProtogenDelta, Marco Brandt, Lauritz Wiebusch, Daniel Schatz, Sören Panten
Priority: optional
Depends: libwebkit2gtk-4.1-0, libgtk-3-0
Description: File Explorer
 (none)
