@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply m-0 p-0 box-border text-white bg-background min-h-full;
}

#root {
  height: 100vh;
}

h3 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

progress[value] {
  background-color: blue;
}