@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  @apply text-2xl font-bold;
}

progress[value] {
  background-color: blue;
}